<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>tylereich.colors</string>
	<key>connections</key>
	<dict>
		<key>09BC9704-35C3-42B4-90EB-721E331AD7F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45CCD086-3241-46A5-A2AF-0B718D47C31C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>16EE3B14-8B6C-45CD-BCC1-C12BFC9B814F</key>
		<array/>
		<key>1AE64A87-60D0-4230-B457-4609571FCA1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DCF950C0-BEB0-4CFD-A79B-BA403852D463</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>85D1E110-A191-4FF5-9CFD-BB3B884C576F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>41372D75-6959-49AC-8CAF-2007E83E7BF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2256D9F2-F0F1-4543-8893-622DDFA83A5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AE64A87-60D0-4230-B457-4609571FCA1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>16EE3B14-8B6C-45CD-BCC1-C12BFC9B814F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reveal in OS X color panel</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DF34F852-ABCE-4C35-9363-7AABFF9D24C4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Toggle alpha channel and copy</string>
			</dict>
		</array>
		<key>45CCD086-3241-46A5-A2AF-0B718D47C31C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AE64A87-60D0-4230-B457-4609571FCA1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>16EE3B14-8B6C-45CD-BCC1-C12BFC9B814F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reveal in OS X color panel</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DF34F852-ABCE-4C35-9363-7AABFF9D24C4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Toggle alpha channel and copy</string>
			</dict>
		</array>
		<key>6C80A2CD-4BBE-4E27-8BF5-FA913A95D604</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AE64A87-60D0-4230-B457-4609571FCA1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>16EE3B14-8B6C-45CD-BCC1-C12BFC9B814F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reveal in OS X color panel</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DF34F852-ABCE-4C35-9363-7AABFF9D24C4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Toggle alpha channel and copy</string>
			</dict>
		</array>
		<key>9EE08AB6-59DC-4D7C-8B47-C4C7C514B77F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AE64A87-60D0-4230-B457-4609571FCA1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>16EE3B14-8B6C-45CD-BCC1-C12BFC9B814F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reveal in OS X color panel</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DF34F852-ABCE-4C35-9363-7AABFF9D24C4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Toggle alpha channel and copy</string>
			</dict>
		</array>
		<key>A1AB2B83-C8EF-4022-97B8-E20B3D6CBDF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AE64A87-60D0-4230-B457-4609571FCA1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>16EE3B14-8B6C-45CD-BCC1-C12BFC9B814F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reveal in OS X color panel</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DF34F852-ABCE-4C35-9363-7AABFF9D24C4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Toggle alpha channel and copy</string>
			</dict>
		</array>
		<key>BFDA94C6-1294-4C3A-982B-B1DB7123F88B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45CCD086-3241-46A5-A2AF-0B718D47C31C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DF34F852-ABCE-4C35-9363-7AABFF9D24C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DCF950C0-BEB0-4CFD-A79B-BA403852D463</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>85D1E110-A191-4FF5-9CFD-BB3B884C576F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>41372D75-6959-49AC-8CAF-2007E83E7BF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F2BEC6F7-52A4-43DA-83F9-438006D28B56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AE64A87-60D0-4230-B457-4609571FCA1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>16EE3B14-8B6C-45CD-BCC1-C12BFC9B814F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reveal in OS X color panel</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DF34F852-ABCE-4C35-9363-7AABFF9D24C4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Toggle alpha channel and copy</string>
			</dict>
		</array>
		<key>FB406D99-0DB3-4A23-8D3C-48AFC20D569E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AE64A87-60D0-4230-B457-4609571FCA1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>16EE3B14-8B6C-45CD-BCC1-C12BFC9B814F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reveal in OS X color panel</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DF34F852-ABCE-4C35-9363-7AABFF9D24C4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Toggle alpha channel and copy</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tyler Eich</string>
	<key>description</key>
	<string>Color tools for developers</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Colors</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>runningsubtext</key>
				<string>Processing color data...</string>
				<key>script</key>
				<string>./colors "{query}"</string>
				<key>subtext</key>
				<string>Convert input color to</string>
				<key>title</key>
				<string>Convert Color…</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>45CCD086-3241-46A5-A2AF-0B718D47C31C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BFDA94C6-1294-4C3A-982B-B1DB7123F88B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>feedback</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>09BC9704-35C3-42B4-90EB-721E331AD7F7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>c</string>
				<key>runningsubtext</key>
				<string>Processing color data...</string>
				<key>script</key>
				<string>./colors "{query}"</string>
				<key>subtext</key>
				<string>Convert CSS3 extended named colors</string>
				<key>title</key>
				<string>CSS Named Color</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A1AB2B83-C8EF-4022-97B8-E20B3D6CBDF8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./colors --check "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1AE64A87-60D0-4230-B457-4609571FCA1F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DCF950C0-BEB0-4CFD-A79B-BA403852D463</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>hsl</string>
				<key>runningsubtext</key>
				<string>Processing color data...</string>
				<key>script</key>
				<string>./colors "hsl{query}"</string>
				<key>subtext</key>
				<string>Convert CSS HSL colors</string>
				<key>title</key>
				<string>CSS HSL color</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F2BEC6F7-52A4-43DA-83F9-438006D28B56</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>rgb</string>
				<key>runningsubtext</key>
				<string>Processing color data...</string>
				<key>script</key>
				<string>./colors "rgb{query}"</string>
				<key>subtext</key>
				<string>Convert CSS RGB colors</string>
				<key>title</key>
				<string>CSS RGB Color</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6C80A2CD-4BBE-4E27-8BF5-FA913A95D604</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>'{query}' copied to clipboard</string>
				<key>title</key>
				<string>Colors</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>85D1E110-A191-4FF5-9CFD-BB3B884C576F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./colors --reveal "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16EE3B14-8B6C-45CD-BCC1-C12BFC9B814F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./colors --toggle-alpha "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DF34F852-ABCE-4C35-9363-7AABFF9D24C4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>64</integer>
				<key>script</key>
				<string>./colors --flush</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>41372D75-6959-49AC-8CAF-2007E83E7BF4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>#</string>
				<key>runningsubtext</key>
				<string>Processing color data...</string>
				<key>script</key>
				<string>./colors "#{query}"</string>
				<key>subtext</key>
				<string>Convert hexadecimal colors</string>
				<key>title</key>
				<string>Hexadecimal</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2256D9F2-F0F1-4543-8893-622DDFA83A5E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>[ns</string>
				<key>script</key>
				<string>./colors "[NS{query}"</string>
				<key>title</key>
				<string>NSColor</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FB406D99-0DB3-4A23-8D3C-48AFC20D569E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>[ui</string>
				<key>script</key>
				<string>./colors "[UI{query}"</string>
				<key>title</key>
				<string>UIColor</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9EE08AB6-59DC-4D7C-8B47-C4C7C514B77F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>CSS3 extended color names ported from the spectrum color picker (bgrins.github.com/spectrum/)</string>
	<key>uidata</key>
	<dict>
		<key>09BC9704-35C3-42B4-90EB-721E331AD7F7</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>16EE3B14-8B6C-45CD-BCC1-C12BFC9B814F</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>1AE64A87-60D0-4230-B457-4609571FCA1F</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>2256D9F2-F0F1-4543-8893-622DDFA83A5E</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>41372D75-6959-49AC-8CAF-2007E83E7BF4</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>45CCD086-3241-46A5-A2AF-0B718D47C31C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6C80A2CD-4BBE-4E27-8BF5-FA913A95D604</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>85D1E110-A191-4FF5-9CFD-BB3B884C576F</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>9EE08AB6-59DC-4D7C-8B47-C4C7C514B77F</key>
		<dict>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>A1AB2B83-C8EF-4022-97B8-E20B3D6CBDF8</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>BFDA94C6-1294-4C3A-982B-B1DB7123F88B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DCF950C0-BEB0-4CFD-A79B-BA403852D463</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>DF34F852-ABCE-4C35-9363-7AABFF9D24C4</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>F2BEC6F7-52A4-43DA-83F9-438006D28B56</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>FB406D99-0DB3-4A23-8D3C-48AFC20D569E</key>
		<dict>
			<key>ypos</key>
			<real>550</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/TylerEich/Alfred-Extras</string>
</dict>
</plist>
