{
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
  },
  "rules": {
    "camelcase": 0,
    "comma-spacing": 0,
    "quotes": [0, "single"],
    "new-cap": 0,
    "no-extend-native": 0,
    "no-multi-spaces": 0,
    "no-undef": 2,
    "no-unused-vars": [2, { "vars": "local", "args": "none" }],
    "space-infix-ops": 0,
    "strict": 0
  }
}
