[submodule "oh-my-zsh"]
  path = oh-my-zsh
  url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "z-zsh"]
  path = z-zsh
  url = git://github.com/sjl/z-zsh.git
[submodule "homedir/.vim/bundle/Vundle.vim"]
	path = homedir/.vim/bundle/Vundle.vim
	url = git://github.com/VundleVim/Vundle.vim.git
[submodule "homedir/.zsh/zsh-autosuggestions"]
	path = homedir/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "xVim"]
	path = xVim
	url = https://github.com/XVimProject/XVim2.git
[submodule "tmux-colors-solarized"]
	path = tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
