<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred-packal-search</string>
	<key>connections</key>
	<dict>
		<key>2BE062C5-1515-424D-A94B-39EECE585D00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4AEA582-2BD6-408C-965A-2619F9B3F151</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C2D54072-5EEE-4990-85A7-247B6949AF98</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>More workflows by this author</string>
			</dict>
		</array>
		<key>2F0946FD-D324-45B8-84F3-86788182BBD2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89DB3418-F317-4D6C-9F12-B977A695DC97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6C5C32A5-6E50-4F9C-A156-563C02F00E78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4AEA582-2BD6-408C-965A-2619F9B3F151</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2F0946FD-D324-45B8-84F3-86788182BBD2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Ignore Updates by this Author</string>
			</dict>
		</array>
		<key>6F1F0215-4043-45BA-A665-430289C3AF40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4AEA582-2BD6-408C-965A-2619F9B3F151</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C2D54072-5EEE-4990-85A7-247B6949AF98</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>More workflows by this author</string>
			</dict>
		</array>
		<key>8BF64D55-AF18-4CE0-A6A0-95C320CCA607</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4AEA582-2BD6-408C-965A-2619F9B3F151</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C2D54072-5EEE-4990-85A7-247B6949AF98</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>More workflows by this author</string>
			</dict>
		</array>
		<key>91D6BE49-93AD-4C01-94FD-A34463E5EDFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBB58205-5D96-44A1-B0D9-481809EA41A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C2D54072-5EEE-4990-85A7-247B6949AF98</key>
		<array/>
		<key>C47921CA-362F-4F0A-9A84-D095707A4FB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4AEA582-2BD6-408C-965A-2619F9B3F151</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C2D54072-5EEE-4990-85A7-247B6949AF98</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>More workflows by this author</string>
			</dict>
		</array>
		<key>F9FBA7B8-D458-4154-B30A-E936187AFE04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4AEA582-2BD6-408C-965A-2619F9B3F151</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C2D54072-5EEE-4990-85A7-247B6949AF98</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>More workflows by this author</string>
			</dict>
		</array>
		<key>FBB58205-5D96-44A1-B0D9-481809EA41A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29C9A792-BB2A-430C-A5FA-CAAB80E32EA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Search Packal for Cool New Workflows</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Packal Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>packal workflows</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Packal Workflows…</string>
				<key>script</key>
				<string>python packal.py workflows "{query}"</string>
				<key>subtext</key>
				<string>Search for Workflows on Packal</string>
				<key>title</key>
				<string>Packal Workflows</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C47921CA-362F-4F0A-9A84-D095707A4FB1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>packal tags</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Packal Workflows…</string>
				<key>script</key>
				<string>python packal.py tags "{query}"</string>
				<key>subtext</key>
				<string>Search for Workflows Based on Tags</string>
				<key>title</key>
				<string>Packal Tags</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2BE062C5-1515-424D-A94B-39EECE585D00</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python packal.py open "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B4AEA582-2BD6-408C-965A-2619F9B3F151</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>packal categories</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Packal Workflows…</string>
				<key>script</key>
				<string>python packal.py categories "{query}"</string>
				<key>subtext</key>
				<string>Search for Workflows Based on Categories</string>
				<key>title</key>
				<string>Packal Categories</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6F1F0215-4043-45BA-A665-430289C3AF40</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python packal.py author-workflows "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C2D54072-5EEE-4990-85A7-247B6949AF98</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>packal versions</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Packal Workflows…</string>
				<key>script</key>
				<string>python packal.py versions "{query}"</string>
				<key>subtext</key>
				<string>Search for Workflows Based on Supported OS X Versions</string>
				<key>title</key>
				<string>Packal OS X Versions</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F9FBA7B8-D458-4154-B30A-E936187AFE04</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python packal.py ignore-author "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2F0946FD-D324-45B8-84F3-86788182BBD2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Updates to workflows by {query} won't be shown</string>
				<key>title</key>
				<string>Author Added to Ignore List</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>89DB3418-F317-4D6C-9F12-B977A695DC97</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>packal authors</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Packal Workflows…</string>
				<key>script</key>
				<string>python packal.py authors "{query}"</string>
				<key>subtext</key>
				<string>Search for Workflows Based on Author</string>
				<key>title</key>
				<string>Packal Authors</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6C5C32A5-6E50-4F9C-A156-563C02F00E78</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>packal status</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading your workflows…</string>
				<key>script</key>
				<string>python packal.py status</string>
				<key>subtext</key>
				<string>Workflows that can be updated or installed from Packal</string>
				<key>title</key>
				<string>Packal Workflow Status</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8BF64D55-AF18-4CE0-A6A0-95C320CCA607</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>packal update</string>
				<key>subtext</key>
				<string>Re-download the list of Packal workflows now</string>
				<key>text</key>
				<string>Force Update of Workflow List</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>91D6BE49-93AD-4C01-94FD-A34463E5EDFF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Packal Workflow List Update</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>29C9A792-BB2A-430C-A5FA-CAAB80E32EA5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python packal.py update</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FBB58205-5D96-44A1-B0D9-481809EA41A4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>29C9A792-BB2A-430C-A5FA-CAAB80E32EA5</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>2BE062C5-1515-424D-A94B-39EECE585D00</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>2F0946FD-D324-45B8-84F3-86788182BBD2</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>6C5C32A5-6E50-4F9C-A156-563C02F00E78</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>6F1F0215-4043-45BA-A665-430289C3AF40</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>89DB3418-F317-4D6C-9F12-B977A695DC97</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>8BF64D55-AF18-4CE0-A6A0-95C320CCA607</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>91D6BE49-93AD-4C01-94FD-A34463E5EDFF</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>B4AEA582-2BD6-408C-965A-2619F9B3F151</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>C2D54072-5EEE-4990-85A7-247B6949AF98</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>C47921CA-362F-4F0A-9A84-D095707A4FB1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F9FBA7B8-D458-4154-B30A-E936187AFE04</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>FBB58205-5D96-44A1-B0D9-481809EA41A4</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
