<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yourtion.gitignore</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>057CA3E1-FCA9-4748-BC68-66E1EDA069EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A3EBD63-8D4F-4874-B6AD-60B7037AA754</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>803B92C4-DA7F-4DC2-8276-AC6837D5AB35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B14284A-1762-4EB1-A2B1-4C400D708649</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>057CA3E1-FCA9-4748-BC68-66E1EDA069EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yourtion</string>
	<key>description</key>
	<string>Git ignore workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Gitignore</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Parse it to your project's .gitignore file</string>
				<key>title</key>
				<string>Copy {query} to Clipboard Done</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6B14284A-1762-4EB1-A2B1-4C400D708649</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>69</integer>
				<key>keyword</key>
				<string>gi</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>import os, json, fnmatch

dir="/Users/Yourtion/Codes/Apps/gitignore/"

files=fnmatch.filter(os.listdir(dir), '*.gitignore')

res = []
for item in files:
	res.append({"title": item,"subtitle": "Copy to clipboard","arg": dir+item})

ret=json.dumps({"items": res})

print(ret)
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>which language your want to gen .gitignore</string>
				<key>title</key>
				<string>Project language</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>803B92C4-DA7F-4DC2-8276-AC6837D5AB35</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8A3EBD63-8D4F-4874-B6AD-60B7037AA754</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cat $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>057CA3E1-FCA9-4748-BC68-66E1EDA069EF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>057CA3E1-FCA9-4748-BC68-66E1EDA069EF</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>6B14284A-1762-4EB1-A2B1-4C400D708649</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>803B92C4-DA7F-4DC2-8276-AC6837D5AB35</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>8A3EBD63-8D4F-4874-B6AD-60B7037AA754</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
