<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>key</key>
		<integer>49</integer>
		<key>mod</key>
		<integer>1048576</integer>
		<key>string</key>
		<string>Space</string>
	</dict>
</dict>
</plist>
