<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.fileimport.AC52369A-061B-4FCB-AF02-9ECB299FF501</string>
	<key>theme</key>
	<string>alfred.theme.custom.E7466418-8CC9-4C12-B980-0E3512321F26</string>
</dict>
</plist>
